annotated-types @ file:///home/task_176174488044141/conda-bld/annotated-types_1761744921564/work
anyio @ file:///home/task_177313440367069/croot/anyio_1773134426302/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1763409923949/work
blis @ file:///croot/cython-blis_1728909056537/work
brotlicffi @ file:///home/task_176496125431831/conda-bld/brotlicffi_1764961387175/work
catalogue @ file:///croot/catalogue_1703688140886/work
certifi @ file:///home/task_176765898807400/croot/certifi_1767659142395/work/certifi
cffi @ file:///home/task_176183215827778/conda-bld/cffi_1761832774246/work
charset-normalizer @ file:///home/task_176174482135433/conda-bld/charset-normalizer_1761744871447/work
click @ file:///home/task_176433224254364/conda-bld/click_1764332289389/work
cloudpathlib @ file:///home/task_176778629980111/croot/cloudpathlib_1767787177218/work
cloudpickle @ file:///home/task_176493044880617/conda-bld/cloudpickle_1764930491639/work
colorama @ file:///croot/colorama_1672386526460/work
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
confection @ file:///croot/confection_1750275266333/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1744743067588/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
cymem @ file:///home/task_175698348820631/conda-bld/cymem_1756984386004/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_debugpy_1769744974/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1763918002538/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
filelock @ file:///home/task_176943957887863/croot/filelock_1769440496799/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1773137064424/work
fsspec @ file:///home/task_177399629933078/croot/fsspec_1773996352676/work
gmpy2 @ file:///home/task_176474799466805/conda-bld/gmpy2_1764748040727/work
h11 @ file:///home/task_176193128294608/conda-bld/h11_1761931294516/work
hf-xet @ file:///home/task_176967406360766/croot/hf-xet_1769674366107/work
httpcore @ file:///croot/httpcore_1748526048470/work
httpx @ file:///home/task_176044729065927/conda-bld/httpx_1760447346377/work
huggingface_hub @ file:///home/task_177020984437960/croot/huggingface_hub_1770209867492/work
idna @ file:///home/task_176191177045451/conda-bld/idna_1761911980742/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipykernel_1770566133/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1748711175/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
joblib @ file:///home/task_176786809611178/croot/joblib_1767868117348/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_client_1767954655/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_core_1760643864/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_kiwisolver_1773067043/work
langcodes @ file:///home/task_175757467260012/conda-bld/langcodes_1757574799587/work
language_data @ file:///home/task_175750904661384/conda-bld/language-data_1757509276894/work
marisa-trie @ file:///home/task_175750331410652/conda-bld/marisa-trie_1757503574820/work
markdown-it-py @ file:///home/task_176700162619375/croot/markdown-it-py_1767001692156/work
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.10.8
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1761214490209/work
mdurl @ file:///home/task_175855217171549/conda-bld/mdurl_1758552186399/work
mkl-service==2.5.2
mkl_fft @ file:///home/task_176159252575002/conda-bld/mkl_fft_1761592901585/work
mkl_random @ file:///home/task_176159293813909/conda-bld/mkl_random_1761592952512/work
mpmath @ file:///croot/mpmath_1690848262763/work
munkres==1.1.4
murmurhash @ file:///home/task_176471007342967/conda-bld/murmurhash_1764710942095/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///croot/networkx_1737039604450/work
nltk @ file:///home/task_177507910715553/croot/nltk_1775079542281/work
numpy @ file:///home/task_176157872663408/conda-bld/numpy_and_numpy_base_1761579342634/work/dist/numpy-2.2.5-cp310-cp310-linux_x86_64.whl#sha256=fb5b85b589f86e6404be6a37347b98be70b32c4ae837bb26e1180e9f9a7fb718
optree @ file:///home/task_176544501624342/conda-bld/optree_1765445036146/work
packaging @ file:///home/task_176104877067765/conda-bld/packaging_1761049113113/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1764614464206/work
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1770676243/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_patsy_1760998269/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///home/task_177247536673546/croot/pillow_1772475408094/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1773199142/work
preshed @ file:///home/task_176616351722509/croot/preshed_1766163540458/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
psutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_psutil_1769678154/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pycparser @ file:///home/task_177495969016250/croot/pycparser_1774959730411/work
pydantic @ file:///home/task_177313435585751/croot/pydantic_1773134394651/work
pydantic_core @ file:///home/task_176400926564057/conda-bld/pydantic-core_1764009742485/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1774796700044/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
PySide6==6.10.2
PySocks @ file:///home/task_176175228103966/conda-bld/pysocks_1761753009555/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pytz_1773679724/work
PyYAML @ file:///home/task_176346546342115/conda-bld/pyyaml_1763465494987/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyzmq_1771716952/work
regex @ file:///home/task_177265215662927/croot/regex_1772652256565/work
requests @ file:///home/task_177506598436692/croot/requests_1775066074113/work
rich @ file:///croot/rich_1732638981168/work
ruamel.yaml @ file:///home/task_176253520901549/conda-bld/ruamel.yaml_1762535954167/work
ruamel.yaml.clib @ file:///home/task_176253017742719/conda-bld/ruamel.yaml.clib_1762530230725/work
safetensors @ file:///home/task_177558358590707/croot/safetensors_1775583853469/work
scikit-learn @ file:///home/task_176483814803112/conda-bld/scikit-learn_1764838161684/work
scipy @ file:///home/task_175922117955695/conda-bld/scipy_1759221925481/work/dist/scipy-1.15.3-cp310-cp310-linux_x86_64.whl#sha256=3e3aede3ac8e5825c2bfd3c3c70b0a467e1895afeed7002cea1edf0156b79fdb
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
shellingham @ file:///home/task_176191202965262/conda-bld/shellingham_1761912203274/work
shiboken6==6.10.2
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smart_open @ file:///home/task_177003416637922/croot/smart_open_1770034230718/work
spacy @ file:///croot/spacy_1729067649989/work
spacy-legacy @ file:///croot/spacy-legacy_1684141107874/work
spacy-loggers @ file:///home/task_176795235516821/croot/spacy-loggers_1767952418415/work
srsly @ file:///home/task_177456215237099/croot/srsly_1774562196070/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1764982982951/work
sympy @ file:///home/task_176476278707978/conda-bld/sympy_1764762918518/work
thinc @ file:///croot/thinc_1742231813132/work
threadpoolctl @ file:///home/task_176436167996728/conda-bld/threadpoolctl_1764361727999/work
tokenizers @ file:///home/task_177374670511388/croot/tokenizers_1773746747983/work
torch @ file:///home/task_177486203724217/croot/libtorch_1774862078592/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1774357896577/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tqdm_1770153424/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers @ file:///home/task_177489143689191/croot/transformers_1774891977647/work
triton @ file:///home/task_177334648259811/croot/triton_1773346552292/work
typer @ file:///croot/typer_1684251874311/work
typer-slim==0.20.0
typing-inspection @ file:///home/task_176061351159976/conda-bld/typing-inspection_1760614166076/work
typing_extensions @ file:///croot/typing_extensions_1756280817316/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1765719872007/work
ujson @ file:///home/task_176311917275677/conda-bld/ujson_1763119197986/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1770908960326/work
urllib3 @ file:///home/task_176781015826610/croot/urllib3_1767810263778/work
wasabi @ file:///home/task_175734526056273/conda-bld/wasabi_1757345803857/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1770634525285/work
weasel @ file:///home/task_176735688878270/croot/weasel_1767357569275/work
wrapt @ file:///home/task_176424372851016/conda-bld/wrapt_1764243772894/work
xgboost @ file:///home/task_177465307701705/croot/xgboost-split_1774653124000/work/python-package
